@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
    background-color: #1f2029;
    overflow: hidden;
    height: 100vh;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    perspective: 800px;
}
p{
  color: #afa86b;
}
a {
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}
::selection {
    color: #c4c3ca;
    background-color: #000;
}
::-moz-selection {
    color: #c4c3ca;
    background-color: #000;
}

/* #Cursor
================================================== */

.cursor,
.cursor2,
.cursor3{
    position: fixed;
    border-radius: 50%;    
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.cursor{
    background-color: #fff;
    height: 0;
    width: 0;
    z-index: 99999;
}
.cursor2,.cursor3{
    height: 36px;
    width: 36px;
    z-index:99998;
    -webkit-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
    -webkit-transform:scale(2) translateX(-25%) translateY(-25%);
    transform:scale(2) translateX(-25%) translateY(-25%);
    border:none
}
.cursor2{
    border: 2px solid #fff;
}
.cursor2.hover{
    background: rgba(255,255,255,1);
    border-color: transparent;
}

@media screen and (max-width: 1200px){
    .cursor,.cursor2,.cursor3{
        display: none
    }
}

/* #Primary style
================================================== */

.hero-section {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    height: 100vh;
    background-image: url('http://www.ivang-design.com/svg-load/portfolio/photo.jpg');
    background-size: cover;
    background-position: center;
    transform: scale(1) rotateX(0);
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
    transform-origin: center top;
}
.hero-section h1{
    color: #fff;
    font-size: 5vw;
    line-height: 1;
    font-weight: 900;
}
.hero-section .dancing{
    font-family: 'Dancing Script', cursive;
    letter-spacing: 1px;
    color: #866BAF;
    font-size: 26px;
    line-height: 1;
    font-weight: 700;
}
@media screen and (max-width: 580px){
    .hero-section .dancing{
        font-size: 18px;
    }
}
.hero-section p{
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
}
.hero-section p span{
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 35px;
}
.hero-section p span:before {
    position: absolute;
    content: '';
    bottom: 10px;
    left: 50%;
    height: 30px;
    width: 30px;
    margin-left: -15px;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    background-image: url('http://www.ivang-design.com/svg-load/portfolio/down.svg');
    opacity: 0.2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.hero-section p span:hover:before {
    opacity: 1;
    bottom: 5px;
}

body.about-on .hero-section {
    transform: scale(0.75);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}
body.contact-on .hero-section {
    transform: scale(0.75);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}
body.travel-on .hero-section {
    transform: rotateX(-10deg);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}
body.wildlife-on .hero-section {
    transform: rotateX(-10deg);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}
body.nature-on .hero-section {
    transform: rotateX(-10deg);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}
.about-text {
    position: absolute;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    color: rgb(241, 240, 233);
    letter-spacing: 2px;
    top: 50%;
    left: 40px;
    cursor: pointer;
    z-index: 2;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    transform: translateY(-50%);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.about-text:before {
    position: absolute;
    content: '';
    top: 50%;
    left: -25px;
    height: 30px;
    width: 30px;
    margin-top: -15px;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    background-image: url('http://www.ivang-design.com/svg-load/portfolio/left.svg');
    opacity: 0.2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.about-text:hover:before {
    opacity: 1;
    left: -30px;
}
.about-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    height: 100vh;
    background-color: #6F7378;
    transform: translateX(-100%);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    z-index: 10;
}
body.about-on .about-section {
    transform: translateX(0);
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
}
.about-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    display: block;
    overflow: hidden;
    height: 30px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px 36px;
    background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
    cursor: pointer;
    z-index: 11;
}
.about-close:hover {
    transform: rotate(90deg);
}
.section-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.about-section img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.about-section p span {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 1px;
    color: #afa86b;
    font-size: 25px;
    font-weight: 400;
}

.contact-text {
    position: absolute;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    top: 50%;
    right: 40px;
    cursor: pointer;
    z-index: 2;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    transform: translateY(-50%) rotate(180deg);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.contact-text:before {
    position: absolute;
    content: '';
    top: 50%;
    left: -25px;
    height: 30px;
    width: 30px;
    margin-top: -15px;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    background-image: url('http://www.ivang-design.com/svg-load/portfolio/left.svg');
    opacity: 0.2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.contact-text:hover:before {
    opacity: 1;
    left: -30px;
}
.contact-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    height: 100vh;
    background-color: rgba(31,32,41,1);
    transform: translateX(100%);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    z-index: 10;
}
body.contact-on .contact-section {
    transform: translateX(0);
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
}
.card-body {
    position: absolute;
    background-color: #cca9c4;
    display: block;
    overflow: hidden;
}
.contact-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    display: block;
    overflow: hidden;
    height: 30px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px 36px;
    background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
    cursor: pointer;
    z-index: 11;
}
.contact-close:hover {
    transform: rotate(90deg);
}
.contact-section a{
    margin: 0 auto;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #fff;
  display: inline-block;
}
.contact-section .social a{
    margin-left: 8px;
    margin-right: 8px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #866BAF;
}
@media screen and (max-width: 580px){
    .contact-section a{
        font-size: 17px;
    }
    .contact-section .social a{
        margin-left: 3px;
        margin-right: 3px;
        font-size: 13px;
        letter-spacing: 0;
    }
}

.travel-section,
.wildlife-section,
.nature-section {
    position: fixed;
    top: 100%;
    left: 0;
    padding: 100px 0;
    width: 100%;
    height: 100vh;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(31,32,41,1);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    z-index: 10;
}
.travel-close,
.wildlife-close,
.nature-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    display: block;
    overflow: hidden;
    height: 30px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px 36px;
    background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
    cursor: pointer;
    z-index: 11;
}
.travel-close:hover,
.wildlife-close:hover,
.nature-close:hover {
    transform: rotate(90deg);
}
body.travel-on .travel-section {
    top: 0;
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
}
body.wildlife-on .wildlife-section {
    top: 0;
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
}
body.nature-on .nature-section {
    top: 0;
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
}
.travel-section img,
.wildlife-section img,
.nature-section img {
    margin-top: 30px;
    width: 100%;
    height: 60%;
    display: block;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
.travel-section h3,
.wildlife-section h3,
.nature-section h3 {
    font-size: 44px;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}
.travel-section p,
.wildlife-section p,
.nature-section p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 1px;
}
.travel-section p span,
.wildlife-section p span,
.nature-section p span {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    color: #866BAF;
}
/* #Link to page
================================================== */

.link-to-portfolio {
      position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 200;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 3px;
    background-position: center center;
    background-size: 65%;
  background-repeat: no-repeat;
    background-image: url('http://static.movingpackets.net/2013/12/github-logo-transparent.jpg');
    box-shadow: 0 0 0 2px rgba(255,255,255,.1);
    transition: opacity .2s, border-radius .2s, box-shadow .2s;
    transition-timing-function: ease-out;
}
.link-to-portfolio:hover {
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 0 0 20px rgba(255,255,255,.1);
}




/* HOver cards */
.container {
    width: 95%;
    max-width: 1260px;
    margin: auto;
  }
  h2.heading {
      padding: 50px 0;
      text-align: center;
      color: #fff;
  }
  .profile-card {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
  }
  .card-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
  }
  .card {
      width: 100%;
      height: 400px;
      display: block;
      border-radius: 10px;
      background: #fff;
      overflow: hidden;
      position: relative;
      filter: blur(3px);
      transition: background 0.8s linear;
  }
  .card0 {
      background: url(https://i.ibb.co/JcMGzxT/01.jpg) center center no-repeat;
      background-size: 400px;
  }
  .card1 {
      background: url(https://i.ibb.co/ZY4Dybj/02.jpg) center center no-repeat;
      background-size: 400px;
  }
  .card2 {
      background: url(https://i.ibb.co/c2n1k9v/03.jpg) center center no-repeat;
      background-size: 400px;
  }
  .card3 {
      background: url(https://i.ibb.co/ftVKH2p/04.jpg) center center no-repeat;
      background-size: 400px;
  }
  .card:hover {
    background-size: 600px;
    background-position: left center;
    filter: unset; 
  }
  .overlay {
      opacity: 1;
      height: 100%;
      padding: 20px;
      background: rgba(0 0 0 / .4);
      transition: opacity 0.8s linear;
  }
  h2, p {
      color: #fff;
  }
  .content > h2 {
      margin-bottom: 10px;
  }
  
  .content {
      height: 90%;
      position: relative;
      right: -300px;
      transition:right 0.8s linear;
  }
  .icons {
      position: absolute;
      left: 10px;
      bottom: 10px;
      color: #fff;
      height: 130px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      opacity: 0;
      transition:opacity 0.8s linear;
  }
  .icons > a {
    color: #fff;
  }
  .card:hover .content {
      right: 0;
  }
  .card:hover .icons {
    opacity: 1;
  }
  .learn-more-btn {
      position: absolute;
      right: 0;
      bottom: 0;
      color: #fff;
      text-decoration: unset;
      padding: 5px 10px;
      border: 1px solid;
  }

/* Stacks */
  .skill-bars{
    padding: 30px 30px;
    width: 900px; 
    height: 700px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-bottom: 100px;
  }
  .bar{
    margin: 20px 0;
    padding: 8px 0;
  }
  .bar:first-child{
    margin-top: 0px;
  }
  .info{
    margin-bottom: 5px;
  }
  .info span{
    font-weight: 500;
    font-size: 17px; opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .progress-line{
    height: 10px; width: 100%;
    background: #f0f0f0; position: relative;
    transform: scaleX(0); transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .progress-line span{
    height: 100%; position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #ff4d4f;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .progress-line span::before{
    position: absolute; content: "";
    top: -10px; right: 0;
    height: 0; width: 0; opacity: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute; top: -28px;
    right: 0; font-weight: 500;
    background: #000;
    color: #fff; opacity: 0;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .html span{
    width: 90%;
  }
  .css span{
    width: 90%;
  }
  .JavaScript span{
    width: 80%;
  }
  .react span{
    width: 80%;
  }
  .reactNative span{
    width: 70%;
  }
  .ruby span{
    width: 75%;
  }
  .android span {
    width: 60%;
  }
  .rails span{
    width: 70%;
  }
  .python span{
    width: 60%;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .html span::after{
    content: "90%";
  }
  .css span::after{
    content: "90%";
  }
  .JavaScript span::after{
    content: "80%";
  }
  .react span::after{
    content: "80%";
  }
  .reactNative span::after{
    content: "70%";
  }
  .ruby span::after{
    content: "75%";
  }
  .android span::after{
    content: "60%";
  }
  .rails span::after{
    content: "70%";
  }
  .python span::after{
    content: "60%";
  }
  /* Media Query */
  /* For tablet */
  @media screen and (max-width:900px){
    h1{
      font-size: 2rem;
      text-align: center;
      color: #fff;
      text-shadow: 3px 4px black;
    }
    .skill-bars{
    padding: 15px 20px;
    width: 600px; 
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    }
  }
  /* For mobile */
  @media screen and (max-width :600px) {
    h1{
      font-size: 1rem;
      text-align: center;
      color: #fff;
      text-shadow: 3px 4px black;
    }
    .skill-bars{
      padding: 10px 10px;
      width: 400px; 
      background: #fff;
      box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
      border-radius: 8px;
    
    }
    
  }